# Entorno virtual
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración local (opcional, si tiene secretos)
config.local.json

# Logs
*.log